.contenidoPrincipal-registrar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    grid-area: contenidoPrincipal;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.registro-form {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

.form-campo {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.error-message-registrar {
    color: red;
    text-align: left;
    margin: 0px;
}

.container-campo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
